@model List<JunksOut.Domain.UploadData>
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Junk's Out</title>
    <link rel="shortcut icon" href="../Images/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="../Content/Site.css" type="text/css" />

    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDYzvHvGmLcQOyRIg5mBYQKU45J9LrNWsg">
    </script>
    <script type="text/javascript">
        function initialize() {
            var mapOptions = {
                center: new google.maps.LatLng(38.220630, -85.697239),
                zoom: 13
            };

            var map = new google.maps.Map(document.getElementById("map-canvas"),
                mapOptions);

            var ctaLayer = new google.maps.KmlLayer({
                url: "https://raw.githubusercontent.com/naiduv/kml/master/junklayer1.kml"
            });
            ctaLayer.setMap(map);

            var markers = new Array();
            @foreach(var marker in Model)
            {
            <text>
            markers.push(new google.maps.Marker({
                position: new google.maps.LatLng(@marker.Latitude, @marker.Longitude),
                map: map,
                title: "@marker.Description",
                animation: google.maps.Animation.BOUNCE,
                opacity: @marker.TimeSince,
                icon: {url:"http://mcmua.com/images/50_Recycling_symbol.png", scaledSize: new google.maps.Size(20, 20)}
                }));
            </text>
            }
        }
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
</head>

<body>
    <div id="logo"><img style="background-color: transparent" src="../Images/logo.png" /></div>
    <div id="upload-form">
        @Html.Partial("~/Views/Home/ItemUpload.cshtml", new JunksOut.Domain.UploadData());
    </div>
    <div id="map-canvas" />
</body>
</html>